* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

/* green button */
.button1 {
  max-width: 143px;
  width: 100%;
  height: 35px;
  background-color: #4ce0d7;
  color: #262626;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 40px;
}

.button1:hover {
  background-color: hwb(333 69% 3%);
  cursor: pointer;
}

/* black tag btn */
.blackTag {
  max-width: 175px;
  width: 100%;
  height: 36px;
  background-color: #262626;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  border: none;
  border-radius: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 36px;
}

.sec3Cont .blackTag {
  position: absolute;
  left: 47px;
  top: 23px;
}

/* search icon btn */
.searchDiv {
  max-width: 47px;
  width: 100%;
  height: 47px;
  background-color: #4ce0d7;
  color: #262626;
  border: none;
  border-radius: 40px;
}
.searchDiv:hover {
  background-color: hwb(333 69% 3%);
}

/* navbar */
.navbar-wrapper {
  padding-top: 37px;
  max-width: 1272px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
ul {
  width: 783px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul a {
  color: #262626;
  font-size: 14px;
  font-weight: 700;
}
ul a:hover {
  color: #4ce0d7;
}
/* foooter */

/* footer{
    position: fixed;
    left: 0;
    bottom: 0;
    max-width: 1440px;
    width: 100%;
    height: 308px;
    background-color: white;
    border-radius: 40px 40px 0 0;
    margin: 0 auto;
    
} */

.footerDiv {
  /* max-width: 1440px; */
  width: 100%;
  height: 308px;
  border-radius: 40px 40px 0 0;
  background-color: white;
  margin: 0 auto;
  padding-top: 87px;
}
.footerDivInside {
  margin: 0 auto;
  max-width: 1267px;
  width: 100%;
}
.footerIconLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-icons {
  display: flex;
}
.footerDiv h2 {
  color: #262626;
  font-size: 26px;
  font-weight: 700;
}
.footer-icons img {
  margin-left: 20px;
}
.line {
  max-width: 1267px;
  width: 100%;
  height: 1px;
  background-color: #bcbcbc;
  margin: 67px auto 52px;
}
.copyrightFooter {
  color: #262626;
  font-size: 14px;
  font-weight: 700;
  margin-top: 34px;
}

/* section1 */
.section1 {
  background-image: url("../images/bacground.svg");
  max-width: 1272px;
  width: 100%;
  height: 559px;
  margin: 49px auto 73px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  position: relative;
}
.section1Texts {
  max-width: 627px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.section1Texts p:nth-child(1) {
  font-size: 12px;
  font-weight: 700;
  color: white;
}
.section1Texts p:nth-child(3) {
  font-size: 20px;
  font-weight: 400;
  color: white;
}
.section1Texts h1 {
  font-size: 46px;
  font-weight: 400;
  color: white;
}
.section1Texts span {
  font-weight: 700;
  color: #4ce0d7;
  background-image: linear-gradient(90deg, #4ce0d7, #8ba9f4);
  background-clip: text;
  color: transparent;
}

/* section2 */
.section2 {
  max-width: 1272px;
  width: 100%;
  margin: 0 auto 87px;
}

.section2 h2,
.section4 h2 {
  color: #262626;
  font-size: 32px;
  font-weight: 700;
}
.section2 h2 {
  margin-bottom: 48px;
}
.sect2Wrap {
  display: flex;
  justify-content: space-between;
}
.sect2Cont {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 6px 6px 0px #0000000d;
  max-width: 204px;
  width: 100%;
  height: 291px;
  text-align: center;
}
.sect2Cont img {
  margin: 51px auto 20px;
  height: 100px;
}
.sect2Cont p {
  margin-bottom: 29px;
  color: #262626;
  font-size: 20px;
  font-weight: 700;
}

/* section 5 */
.section5 {
  max-width: 1204px;
  width: 100%;
  margin: 0 auto 69px;
  display: flex;
  flex-direction: column;
  gap: 57px;
}
.section5card,
.section3card {
  display: flex;
  gap: 46px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 6px 6px 0px #0000000d;
}
.user-info {
  display: flex;
  gap: 17px;
  align-items: center;
  margin-bottom: 36px;
}
.user-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card-content {
  max-width: 570px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-text p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #bcbcbc;
}
.section5card h3,
.section3 h3 {
  font-family: Poppins;
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
  /* margin-bottom: 30px; */
}
.section5card h3 {
  margin-bottom: 30px;
}
.card-description {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
  margin-bottom: 30px;
}

/* section 3 */

.section3 {
  max-width: 1204px;
  width: 100%;
  margin: 0 auto 69px;
  display: flex;
  flex-direction: column;
  margin-top: 52.5px;
}

.card-content3 {
  max-width: 1033px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 38px;
  margin: 0 auto;
}

.section3card {
  margin-top: 24px;
}

.card-content3 .user-text :nth-child(3) {
  color: red;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.24em;
  text-align: left;
}

.card-content3 .user-text :nth-child(2) {
  padding-right: 310px;
}

.card-content3 .card-description {
  width: 800px;
  height: 73px;
}

.background3 {
  height: 360px;
  width: 1204px;
  background-image: url("../images/1_blog.svg");
  padding-top: 23px;
  padding-left: 47px;
}

.section4 {
  max-width: 1204px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 55px;
  padding-bottom: 88px;
}
.sec4cards {
  display: flex;
  justify-content: space-between;
}

.sec4card {
  max-width: 579px;
  background-color: #ffffff;
  box-shadow: 0px 6px 6px 0px #0000000d;
  border-radius: 20px;
}

.sec4p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.cardFirstImg {
  max-width: 579px;
  width: 100%;
  height: 278px;
  border-radius: 20px;
}

.sec4card :nth-child(2) {
  padding-left: 26px;
  padding-top: 23px;
  padding-bottom: 28px;
}

.sec4 :first-child {
  padding-right: 28px;
}
.sec4 :nth-child(2) {
  padding: 0;
}

.userBar :last-child {
  padding-left: 130px;
}

.sec4card h5:nth-child(3) {
  padding-left: 34px;
  padding-bottom: 1px;
}

.sec4card p:nth-child(4) {
  padding-left: 35px;
  padding-bottom: 20px;
  width: 60%;
}

.sec4card p:nth-child(5) {
  padding-left: 22px;
  padding-bottom: 36px;
}
.sec4:last-child {
  padding-left: 166px;
}

.imgtag {
  position: relative;
  left: 34px;
  bottom: 643px;
  width: 175px;
  height: 36px;
  border-radius: 40px;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgtag h2 {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
}

.userBar {
  display: flex;
  align-items: center;
}

.userBar h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #bcbcbc;
}

.h5 {
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  padding-bottom: 23px;
}

.section5card {
  position: relative;
}
.section5card .blackTag {
  position: absolute;
  left: 34px;
  top: 25px;
}
.section3 {
  max-width: 1205px;
  margin: 0 auto;
  margin-bottom: 97px;
}

.sec3Cont {
  position: relative;
  max-width: 1204px;
  background-color: #ffffff;
  border-radius: 20px;
  max-width: 1204px;
  box-shadow: 0px 6px 6px 0px #0000000d;
}

.img1_blog {
  width: 100%;
}

.userBar {
  display: flex;
  align-items: center;
}
.userBar :first-child {
  padding-right: 21px;
}
.userBar :last-child {
  padding-left: 130px;
}

.sec3insidesection {
  padding: 23px 64px 38px;
}

.userBar h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #bcbcbc;
}

.cominginhot {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.24em;
  color: #f25e5e;
}

.userBarAndH4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 29px;
}

.h5 {
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  padding-bottom: 23px;
}

.sec3insidesection p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 40px;
  width: 56%;
}
.sec3Cont .arrowIcon {
  padding-left: 51px;
  padding-bottom: 32px;
}
/* arrow icon btn */
.arrowIcon {
  color: #4ce0d7;
  font-size: 12px;
  letter-spacing: 0.24em;
  font-weight: 700;
  font-family: Poppins;
  line-height: 18px;
}
.arrowIcon:hover {
  color: hwb(333 69% 3%);
  cursor: pointer;
}
.footer-icons img:hover {
  cursor: pointer;
}
